canvas {
    border-radius: 24px;
    background-color: white;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

main {
    margin-left: 250px;
    margin-right: 180px;
    display: flex;
    justify-content: center;
}

button {
    margin: 2.5px;
    border-radius: 5px;
    width: 32px;
    background-color: white;
}

header {
    margin: 30px;
}

#tool {
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    width: 170px;
}

.toolList {
    border-radius: 5px;
    color: white;
    font-weight: 1000;
}

a {
    font-size: large;
    font-weight: 1000;
    width: 100px;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 24px;
    display: inline-flex;
}

article {
    margin-top: 50px;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: greenyellow;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}