canvas {
    border-radius: 24px;
    background-color: white;
    margin-left: 3px;
}

body {
    background-color: rgb(234, 251, 255);
    display: flex;
}

button {
    margin: 2.5px;
    border-radius: 5px;
    width: 32px;
    background-color: white;
}

header {
    margin: 30px;
}

#tool {
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    width: 190px;
}

.toolList {
    border-radius: 5px;
    color: white;
    font-weight: 1000;
}

a {
    font-size: large;
    font-weight: 1000;
    width: 100px;
}

.color {
    margin-top: 5px ;
    margin-left: 14px;
    width: 45px;
    height: 47px;
    border: 0px;
    border-radius: 24px;
    display: inline-flex;
}

img {
    margin-top: 1px;
    width: 16px;
    height: 16px;
}

#Colors {
    margin-top: 75px;
    background-color: white;
    height: 227px;
    width: 330px;
    border-radius: 24px;
}

#picture {
    margin-left: 32px;
}

#mainTool {
    display: inline-flex;
    flex-wrap: wrap;
    height: 700px;
    width: 600px;
}

.photoFrame {
    width: 500px;
    height: 290px;
}

.photoFrame:hover {
    cursor: pointer;
}

#notImg {
    width: 400px;
    height: 290px;
    background-size: contain;
    background-repeat: no-repeat;
}

#fileInput {
    display: none;
}

#upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 25px;
    border-radius: 8px;
    margin-bottom: 5px;
    border: 1px solid skyblue; 
    background-color: white; 
    color: skyblue; 
    padding: 5px;
    font-weight: bolder;
}

#upload:hover {
    background-color: skyblue;
    color: white;
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 19px;
    width: 130px;
    cursor: pointer;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 1px;
    background: dodgerblue;
    box-shadow: -100vw 0 0 100vw dodgerblue;
}